env_list = ["all"]

[env_run_base]
deps = [
    "pytest",
    "-r requirements.txt",
]
setenv = [
    {PYTHONPATH = "{toxinidir}/src"}
]

[env.all]
commands = [
  ["pytest", "--doctest-modules"],
]

[env.lang_syntax]
commands = [
  ["pytest", "src/wa_language/syntax", "--doctest-modules"],
]
