env_list = [
    "smoke",
    "dialog_bodies",
    "dialog_titles",
    "dialog_relations",
    "map_calendars"
]

[env_run_base]
deps = [
    "pytest",
    "pytest_cases",
    "-r requirements.txt",
]
setenv = [
    {PYTHONPATH = "{toxinidir}/src"}
]
passenv = [
    "TYPECHECKER"
]
allowlist_externals = [
    "env"
]

[env.echo]
commands = [
    ["env"]
]

[env.dialog_bodies]
commands = [
  ["pytest", "tests/test_parsing_by_datasets/dialog_body_by_dataset_test.py"],
]

[env.dialog_titles]
commands = [
  ["pytest", "tests/test_parsing_by_datasets/dialog_title_by_dataset_test.py"],
]

[env.dialog_relations]
commands = [
  ["pytest", "-s", "tests/test_parsing_by_datasets/dialog_relation_by_dataset_test.py"],
]

[env.map_calendars]
commands = [
  ["pytest", "tests/test_parsing_by_datasets/map_calendar_by_dataset_test.py"],
]

[env.smoke]
commands = [
  ["pytest", "--doctest-modules", "--ignore", "tests/test_parsing_by_datasets", "--ignore", "utils/map_calendars_add_overlapped.py"],
]

[env.lang]
commands = [
  ["pytest", "src/wa_language", "--doctest-modules"],
]